
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');
.jumbotron {
    padding-top: 28px;
    padding-bottom: 28px;
}
.jumbotron .container {
    font-family: 'Josefin Slab', serif;
    font-size: 16px;
    line-height: 30px;
    h1 {
        font-family: 'Josefin Slab', serif;
        font-size: 46px;
        line-height: 56px;
        font-weight: 500;
    }
}





